<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Instagram</title>
</head>
<body>
	<div>
		<h1>Instagram</h1>
		<div>
			<!--
				user가 인증되어있으면 '로그아웃하기'라는 링크를 보여주고
				아니면 '로그인하기'링크 보여주기

				logout_view를 구현
					request.method가 POST일 경우,
					request.user를 로그아웃시킴

				URL: /members/logout/
				view: members.views.logout_view
				로그아웃 완료 후에는 index로 redirect

				form action: logout_view

			-->
			{% if user.is_authenticated %}
				<form action="{% url 'members:logout' %}" method="POST">
					{% csrf_token %}
					<button type="submit">로그아웃하기</button>
				</form>
			{% else %}
				<a href="{% url 'members:login' %}">로그인하기</a>
				<a href="{% url 'members:signup' %}">회원가입하기</a>
			{% endif %}
		</div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>